body{
    background-color: #000000;
    background-image: url(../assets/home/menuBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    width:120px;
    height:40px;
    padding: 5px 15px 7px 15px;
    border-radius:5px;
    place-items: center;
    background-color: transparent;
    border: none;
    color: #F8F0C6;
}
button:hover {
    place-items: center;
    background-image: url(../assets/home/buttonActive.png);
    color: #002F49;
}
button:active {
    place-items: center;
    background-image: url(../assets/home/buttonActive.png);
    color: #002F49;
}

.container {

}

    #musicAndProfile {
        display: block;
    }
        #music {
            display: inline-block;
            margin-top: 2%;
            margin-left: 5%;
            width: 75%;
        }
        #profile {
            display: inline-block;
        }

    #navigate {
        /* margin-left: 15%; */
        /* margin-right: 15%; */
        display: inline-block;
        width:120px;
        height:40px;
    }
        #navigateBar {
            position: absolute;
            margin-top: 5%;
            margin-left: 15%;
            height:45px;
            z-index: 1;
        }
            .navigateBarButton {
                display: inline-block;
                height:45px;
                z-index: 2;
            }

    #containerTiles {
        display: block;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #friendAndLogo {
        display: block;
    }
        #friends {
            display: inline-block;
            width: 85%;
            margin-left: 5%;
            font-size: 30px;
            color: #F8F0C6;
        }
        #friends #font {
            display: inline-block;
            margin-left: -3%;
            font-size: 30px;
            color: #F8F0C6;
        }

        #logoVUG {
            display: inline-block;
        }
