*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

body { 
    display: flex;
    justify-content: center;
    background-image: url(../assets/start/startBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #002F49;
}

.container {
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background:#fff;
    width: 400px;
    padding: 20px;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 0 10px 35px 0px #000001e6;
}
#signIn {
    margin-top: 12%;
}
#signUp {
    margin-top: 8%;
}

.buttonAll{
    height: 100%;
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    place-items: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 5px 0px #000001e6;
    border-radius: 5px;
    background-image: url(../assets/home/buttonNoActive.png);
    color: #F8F0C6;
    cursor: pointer;
}
.buttonAll:hover {
    place-items: center;
    background-image: url(../assets/home/buttonActive.png);
    color: #002F49;
}

#change {
    display: inline;
    margin-left: 18%;
}

#signInButton {
    display: inline;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #0b6fa5;
}
#signInButton:hover {
    color: #002F49;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 10px;
}

#forgotPassword {
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

#passwordStrength {
    margin-top: 10px;
    height: 5px;
    background-color: #d4d4d4;
    border-radius: 5px;
}

#strengthBar {
    height: 100%;
    width: 0;
    background-color: #ff0000;
    border-radius: 5px;
    transition: width 0.3s;
}

#passwordStrengthText {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

#passwordStrengthInfo { 
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: #6e6e6e;
}

#rememberMeCheckbox {
    float: left;
    margin-bottom: 15px;
}

#rememberMe {
    float: left;
    margin-left: 5px;
    font-size: 10px;
}