body { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    background-image: url(../assets/start/startBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #002F49;
}

button{
    height: 100%;
    width:100%;
    padding: 10px;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
    background-image: url(../assets/home/buttonNoActive.png);
    color: #F8F0C6;
    cursor: pointer;
}
button:hover {
    place-items: center;
    background-image: url(../assets/home/buttonActive.png);
    color: #002F49;
}
button:active {
    place-items: center;
    background-image: url(../assets/home/buttonActive.png);
    color: #002F49;
}

.loginContainer {
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 5%;
}

.registerContainer {
    margin-top: 8%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

.choiceLoginRegister {
    flex-direction: row; 
}

#choiceLogin {
    margin: 0;
}

#choiceRegister {
    margin-top: 10px;
}

.loginContainer {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
}

.registerContainer {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
}

/* Password strength */
#passwordStrength {
    margin-top: 10px;
    height: 5px;
    background-color: #d4d4d4;
    border-radius: 5px;
}

#strengthBar {
    height: 100%;
    width: 0;
    background-color: #ff0000;
    border-radius: 5px;
    transition: width 0.3s;
}

#passwordStrengthText {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

#passwordStrengthInfo { 
    display: block;
    margin-top: 5px;
    font-size: 9px;
    font-style: italic;
    color: #6e6e6e;
}

/* User remember */
#rememberMeCheckbox {
    float: left;
    margin-bottom: 15px;
}

#rememberMe {
    float: left;
    margin-left: 5px;
    padding-top: 4px;
    font-size: 10px;
}

#leftSiteStart {
    width: 50%;
    height: 100%;
}
#leftSiteStartImg {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: auto;
}